* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0633;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 170px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 20px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container p {
  margin: 30px 200px;
  font-size: 36px;
  padding: 20px;
  background: #0d351f;
  color: #ffffff;
  border-radius: 15px;
}

#main-container img {
  width: 80vh;
  margin: 20px 0;
  border-radius: 15px;
}

#main-container h2 {
  color: aliceblue;
  font-family: cursive;
  margin: 40px 80px;
}

#historia-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 30px 0 30px;
}

#historia-container p {
  padding: 50px;
  color: white;
  font-size: 32px;
}

#historia-container img {
  width: 70vh;
  border-radius: 15px;
}

#palmares-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 30px 0 30px;
}

#palmares-container p {
  padding: 50px;
  color: white;
  font-size: 32px;
}

#palmares-container img {
  width: 70vh;
  border-radius: 15px;
}

#leyendas-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#leyendas-container img {
  width: 50vh;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin: 70px 30px;
}

#equipos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
}

#equipos-container img {
  width: 45vh;
  border-radius: 30px;
}

#informacion-final {
  margin: 50px 130px;
  font-size: 32px;
  padding: 20px;
  background: #0d351f;
  color: #ffffff;
  border-radius: 15px;
}

#estadio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#estadio-container img {
  width: 700px;
  margin: 50px;
  border-radius: 15px;
}

#informacion-estadio {
  margin: 35px 130px;
  font-size: 32px;
  padding: 20px;
  background: #0d351f;
  color: #ffffff;
  border-radius: 15px;
}

#wikipedia-info {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin: 30px 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
  color: white;
  font-size: 28px;
}

footer a {
  color: aqua;
}

@media (max-width: 480px) {
  header {
    display: none;
  }
  #main-container {
    display: flex;
    flex-direction: column;
  }
  #main-container img {
    width: 40vh;
    margin: 30px 50px;
    border-radius: 15px;
  }
  #main-container p {
    font-size: 16px;
    margin: 30px 50px;
  }
  #main-container h2 {
    color: aliceblue;
    font-family: cursive;
    font-size: 20px;
  }
  #historia-container {
    display: flex;
    flex-direction: column;
  }

  #historia-container img {
    width: 40vh;
  }
  #historia-container p {
    font-size: 16px;
  }
  #palmares-container {
    display: flex;
    flex-direction: column-reverse;
  }
  h2 {
    font-size: 22px;
    margin: 20px 50px;
  }
  #palmares-container img {
    width: 40vh;
  }
  #palmares-container p {
    font-size: 16px;
  }
  #equipos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #equipos-container img {
    width: 40vh;
    padding: 15px;
    border-radius: 30px;
  }
  #informacion-final {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 30px 50px;
  }
  #estadio-container {
    display: flex;
    flex-direction: column;
  }
  #estadio-container img {
    width: 250px;
    margin: 30px 50px;
  }
  #informacion-estadio {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 30px 50px;
  }
  #wikipedia-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
  footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0px 45px;
    align-items: center;
  }
}
